{% extends 'base_main.html' %} {% block main_content %}
<h1 class="text-3xl font-bold">
  Dashboard
</h1>

  <div class="relative w-full overflow-x-auto mt-4 py-5 shadow-md sm:rounded-lg rounded-sm">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 0 400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Distance (KM)
                </th>
                <th scope="col" class="px-6 py-3">
                    <span class="sr-only">Edit</span>
                </th>
                <th scope="col" class="px-6 py-3">
                  <span class="sr-only">Delete</span>
              </th>
            </tr>
        </thead>
        <tbody id="item-table">
          {% for item in items %}
            <tr class="border-b bg-pink-200 border-pink-500 hover:bg-pink-300">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                    {{ item.name }}
                </th>
                <td class="px-6 py-4">
                    {{ item.distance }}
                </td>
                <td class="px-6 py-4 text-right">
                    <a href="{% url 'main:edit_item' item.pk %}" class="font-medium text-pink-600 500 hover:underline">Edit</a>
                </td>
                <td class="px-6 py-4 text-right">
                  <a href="{% url 'main:delete_item' item.pk %}" class="font-bold text-red-700 500 hover:underline">Delete</a>
              </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<h5>Sesi terakhir login: {{ last_login }}</h5>

<script>
    async function getItems() {
        return fetch("{% url 'main:show_json' %}").then((res) => res.json())
    }

    async function refreshItems() {
        const items = await getItems();
        
        const tableBody = document.getElementById("item-table")

        const tableRow = document.createElement("tr")
        tableRow.classList.add("border-b bg-pink-200 border-pink-500 hover:bg-pink-300")
        
        const tableData =document.createElement("td")

        tableBody.append

        
    }
</script>
{% endblock main_content %}